---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import LogoMarquee from "../components/LogoMarquee.astro";
import Industries from "../components/Industries.astro";
import Services from "../components/Services.astro";
import Versus from "../components/Versus.astro";
import Work from "../components/Work.astro";
import RecentWins from "../components/RecentWins.astro";
import Pricing from "../components/Pricing.astro";
import Process from "../components/Process.astro";
import Testimonials from "../components/Testimonials.astro";
import TestimonialMarquee from "../components/TestimonialMarquee.astro";
import About from "../components/About.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <LogoMarquee />
    <Industries />
    <Services />
    <Versus />
    <Work />
    <RecentWins />
    <About />
    <Process />
    <Pricing />
    <Testimonials />
    <TestimonialMarquee />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
